<form method="post" action="/pizza-orders/<%= @order.id %>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%= @order.first_name %>"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%= @order.last_name %>"
  />

  <label for="pizza-selection">Select a pizza:</label>
  <select name="topping" id="pizza-selection">
    
    <option
    value="Margherita"
    <%= "selected" if @order.topping == "Margherita" %>
    >Margherita</option>
    <option
    value="Calzone"
    <%= "selected" if @order.topping == "Calzone" %>
    >Calzone</option>
    <option
    value="Pineapple"
    <%= "selected" if @order.topping == "Pineapple" %>
    >Pineapple</option>
  </select>

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @order.quantity() %>"
  />

  <input type='submit' value="Edit Order">
</form>
