<!-- <iterate over array and map to html tags -->
<p>All the pizzas!<% @orders.each do |order|  %></p>
<p>Name: <%= order.pretty_name() %></p>
<p>Order <%= order.quantity %> x <%= order.topping %> </p>
<p><a href="/pizza-orders/<%= order.id %>">Show Order</a></p><!-- NEW LINE ADDED -->
  <hr/>
<% end %>
