<!-- layout.erb -->
<body>
<nav>
  <ul>
    <li>
    <a href="/pizza-orders">All Orders</a>
  </li>
  <li>
    <a href="/pizza-orders/new">Create Order</a>
  </li>
</ul>
</nav>
<%= yield %>
</body>
</html>

<!-- same as before -->

<!-- Notice where that href is pointing. To our route! So wherever we end up in our app,
 we will always have a link back to this list of every pizza order. -->
