<form method ="post" action="/pizza-orders"/>
  <label for ="name-field">First Name:</label>
  <input id="first-name-field" type="text" name="first_name"/>

  <label for="last-name-field">LastName:</label>
  <input id="last_name-field" type="text" name="last_name"/>

  <label for="pizza-select">Select a pizza:</label>
  <select id ="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
    <option value="Pineapple">Pineapple</option>
  </select>

  <label for="quantity-field">Quantity: </label>
  <input id="quantity-field" type="number" name="quantity"/>
  <input type='submit' value="Order Pizza">
</form>

<!--
The 'name' properties on the ''<input>' and the '<select>' should match the keys
that we look for on our options hash in the PizzaOrder model's 'initialize' method.
The for properties on the <label>s should match the id property on the relevant
<input> or <select>. This is important for accessibility to allow screen readers
 to read our website correctly. -->
