<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Topping: <%= @order.topping %></p>
<p>Quantity: <%= @order.quantity %></p>
<p><a href="/pizza-orders/<%= @order.id %>/edit">Edit Order</a></p>
<form method="post" action="/pizza-orders/<%= @order.id %>/delete">
  <input type="submit" value="Delete Order"/>
</form>
<!-- form used as we can't make a hyperlink to POST request on server so need to
use a button inside a <form> with its method and action properly set.
 we can't use DELETE or PUT requests in the browser, we just use POST for them!
